@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 105vh; /* 105% viewport height */
    background-color: #F3F5FC;
    box-sizing: border-box;
}

.vetor {
    height: 4.68vh;
    width: 1.5vw;
    margin-top: 3.90vh;
    margin-left: 5.83vw;
    margin-right: 8.67vw;
}

.box_conteudo {
    display: flex;
}

.campo__texto {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 1.75rem;
    width: 47.22vw;
    height: 62.01vh;
    border: 0;
    color: #0A3871;
    margin-top: 16.40vh;
    margin-bottom: 4.68vh;
    background-color: #F3F5FC;
    outline: none;
    resize: none;
}

.output {
    display: flex;
    font-family: 'Inter', sans-serif;
    flex-direction: column;
    align-items: center; 
    background-color: #FFFFFF;
    border-radius: 32px;
    margin-left: 5.55vw;
    margin-top: 3.90vh;
    margin-bottom: 3.90vh;
    height: 92.18vh;
    width: 27.7vw;
}

.texto__resultado {
    font-size: 1.25rem;
    color: #495057;
    width: 23.33vw;
    height: 73vh;
    margin-left: 2.22vw;
    margin-top: 4vh;
    margin-right: 2.22vw;
    word-wrap: break-word;
    overflow-y: auto;
}

.tela__inicial {
    display: flex;
    font-family: 'Inter', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.tela_inicial_imagem {
    width: 23vw;
    height: 40vh;
    margin-top: 16.5vh;
    margin-right: 2.22vw;
    margin-left: 2.22vw;
}

.tela_inicial_texto1 {
    color: #343A40;
    font-size: 1.25rem;
    text-align: center;
    margin-left: 2.22vw;
    margin-right: 2.22vw;
    margin-top: 3.12vh;
    height: 5.76vh;
}

.tela_inicial_texto2 {
    color: #495057;
    font-size: 0.85rem;
    text-align: center;
    margin-left: 2.22vw;
    margin-right: 2.22vw;
    line-height: 150%;
    margin-top: 3.5vh;
    height: 4.68vh;
    
}

.alerta_validacao {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 0.6rem;
    align-items: center;
    height: 1.75vh;
    width: 17.5vw;
} 

.alerta_validacao_imagem {
    width: 0.70vw;
    height: 1.56vh;
    margin-right: 0.50vw;
}

.container__botoes {
    width: 47.22vw;
    height: 6.54vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7vh;
    margin-top: 1.56vh;
}

.botao__um {
    width: 22.77vw;
    height: 6.54vh;
    background-color: #0A3871;
    color: #FFFFFF;
    border-radius: 16px;
    font-size: 0.85rem;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    border: 0;
}

.botao__dois {
    width: 22.77vw;
    height: 6.54vh;
    background-color: #D8DFE8;
    color: #0A3871;
    border-radius: 16px;
    border: thin solid #0A3871;
    font-size: 0.85rem;
    font-family: 'Inter', sans-serif;
}

.botao__tres {
    width: 23.33vw;
    height: 6.54vh;
    background-color: #FFFFFF;
    color: #0A3871;
    border: thin solid #0A3871;
    border-radius: 16px;
    font-size: 0.85rem;
    font-family: 'Inter', sans-serif;
    margin-top: 4vh;
    margin-right: 2.22vw;
    margin-left: 2.22vw;
    margin-bottom: 3.12vh;
    cursor: copy;
}

.swal2-title {
    font-family:'Inter', sans-serif;
  }

.creditos {
    font-family: 'Inter', sans-serif;
    color: #0A3871;
    margin-left: 5.83vw;
    margin-bottom: 3.90vh;
    font-size: 0.60rem;
}

.link__git {
    text-decoration: none;
    color: #495057;
}