@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;  /* 100% viewport height */
    background-color: #F3F5FC;
    box-sizing: border-box;
    display: flex;
}

.vetor {
    width: 1.5vw;
    margin-top: 3.90vh;
    margin-left: 4vw;
    margin-right: 7.5vw;
}

.campo__texto {
    font-family: 'Inter', sans-serif;
    font-size: 1.75rem;
    width: 47.22vw;
    height: 60vh;
    border: 0;
    color: #0A3871;
    margin-top: 16.40vh;
    margin-bottom: 4.68vh;
    background-color: #F3F5FC;
    outline: none;
    resize: none;
}

.alerta_validacao {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 0.6rem;
    align-items: center;
    height: 1.75vh;
} 

.alerta_validacao_imagem {
    width: 0.80vw;
    margin-right: 0.50vw;
}

.output {
    font-family: 'Inter', sans-serif;
    background-color: #FFFFFF;
    border-radius: 32px;
    margin-left: 5.55vw;
    margin-top: 3.90vh;
    margin-bottom: 3.90vh;
    margin-right: 4vw;
    height: 92.18vh;
    width: 27.7vw;
    box-shadow: 2px 2px 5px #D8DFE8;
}

.tela__inicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    gap: 2%;
}

.tela_inicial_imagem {
    width: 85%;
    margin-right: 2.22vw;
    margin-left: 2.22vw;
}

.tela_inicial_texto1 {
    color: #343A40;
    font-size: 1.25rem;
    margin-left: 2.22vw;
    margin-right: 2.22vw;
}

.tela_inicial_texto2 {
    color: #495057;
    font-size: 0.85rem;
    margin-left: 2.22vw;
    margin-right: 2.22vw;
    line-height: 150%;
}

.tela__resultado {
    display: flex;
    flex-direction: column;
}

.texto__resultado {
    font-size: 1.25rem;
    color: #495057;
    height: 73vh;
    margin-left: 2.22vw;
    margin-top: 4vh;
    margin-right: 2.22vw;
    word-wrap: break-word;
    overflow-y: auto;
}

.container__botoes {
    width: 47.22vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7vh;
    margin-top: 1.56vh;
}

.botao__um {
    width: 22.77vw;
    background-color: #0A3871;
    color: #FFFFFF;
    border-radius: 16px;
    font-size: 0.85rem;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    border: 0;
    cursor: pointer;
}

.botao__dois {
    width: 22.77vw;
    background-color: #D8DFE8;
    color: #0A3871;
    border-radius: 16px;
    border: thin solid #0A3871;
    font-size: 0.85rem;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.botao__tres {
    width: 23.33vw;
    height: 6.54vh;
    background-color: #FFFFFF;
    color: #0A3871;
    border: thin solid #0A3871;
    border-radius: 16px;
    font-size: 0.85rem;
    font-family: 'Inter', sans-serif;
    margin-top: 4vh;
    margin-right: 2.22vw;
    margin-left: 2.22vw;
    margin-bottom: 3.12vh;
    cursor: copy;
}

.swal2-title {
    font-family:'Inter', sans-serif;
  }

.rodape {
    display: flex;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    background-color: #0A3871;
    font-size: 0.70rem;
    padding: 0.5vw;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 1vh;
}

.creditos {
    writing-mode: vertical-rl;
}

.icon_git {
    width: 1.5vw;
}

@media (max-width: 1300px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .vetor {
        width: auto;
        height: 4.6vh;
    }
    .campo__texto {
        width: 90vw;
        height: 47vh;
        margin-top: 12vh;
        margin-bottom: 4.68vh;
        margin-left: 5vw;
    }

    .alerta_validacao {
        height: 1.75vh;
        margin-left: 5vw;
    } 

    .alerta_validacao_imagem {
        width: auto;
        height: 1.7vh;
    }

    .output {
        display: flex;
        width: 90vw;
        margin-left: 5vw;
        margin-top: 2vh;
        margin-bottom: 4.5vh;
        margin-right: 4vw;
    }

    .tela__inicial {
        height: 20vh;
        width: 100%;
        gap: 8%;
        margin-left: 0;
        margin-right: 0;
    }

    .tela_inicial_imagem {
        display: none;
    }

    .tela__resultado {
        display: flex;
        width: 90vw;
        padding-bottom: 0.75vh;
    }

    .texto__resultado {
        height: auto !important;
        max-height: 50vh;
    }

    .container__botoes {
        width: 90vw;
        height: 10vh;
        margin-left: 5vw;
        margin-bottom: 7vh;
        margin-top: 1.56vh;
    }

    .botao__um {
        width: 48.5%;
    }
    
    .botao__dois {
        width: 48.5%;
        background-color: #F3F5FC;
    }

    .botao__tres {
        width: 95%;
        height: 10vh;
    }

    .rodape {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .creditos {
        writing-mode: horizontal-tb;
    }

    .icon_git {
        width: auto;
        height: 2vh;
    }
}

@media (max-width: 600px) {    

    .campo__texto {
        height: 41vh;
        margin-top: 8vh;
    }

    .container__botoes {
        display: flex;
        flex-direction: column;
        height: 20vh;
        gap: 13%;
        margin-top: 5%;
    }

    .output {
        margin-top: 0;
    }

    .tela__inicial {
        height: 30vh;
    }

    .tela__resultado {
        padding-bottom: 0.5vh;
    }
    
    .texto__resultado {
        width: 90%;
        margin-left: 4.5vw;
    }

    .botao__um {
        width: 90vw;
        height: 25vh;
    }
    
    .botao__dois {
        width: 90vw;
        height: 25vh;
    }

    .botao__tres {
        width: 90%;
        height: 8vh;
        margin-left: 4.5vw;
    }
}